<div class="col-md-12 col-lg-12 ">
  <nb-card>
    <nb-card-body>
        <toaster-container [toasterconfig]="config"></toaster-container>
        <nb-tabset fullWidth (changeTab)="selectTab($event)">
            <nb-tab tabTitle="{{ 'GLOBAL.lista' | translate }}" [active]="!cambiotab">
              <br />
                  <ng2-smart-table [settings]="settings" [source]="source"(rowSelect)="itemselec($event)">
                    </ng2-smart-table>
            </nb-tab>
          </nb-tabset>
    </nb-card-body>
  </nb-card>
</div>





