
<toaster-container [toasterconfig]="config"></toaster-container>

<div>
    <nb-card>
        <mat-form-field  style="width: 50%;"  class="m-2">
            <mat-label> Documento de Identidad </mat-label>
            <input matInput placeholder="" type="text"  [(ngModel)]="NumeroIdentificacionPersona">
</mat-form-field>

<button type="button" style="width: 50%;" class="btn btn-success m-3" (click)="GetPersonaMid()">Consultar</button>
    </nb-card>
</div>


<ngx-dinamicform [normalform]="formMovilidadAcademica" [modeloData]="info_movilidad_academica" (result)="validarForm($event)" [clean]="clean">
</ngx-dinamicform>

